In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
df = raw_csv_data.copy()

In [4]:
df = df.drop(['ID'], axis = 1)

In [6]:
age_columns = pd.get_dummies(df['Age'])

In [10]:
age_columns = age_columns.astype(int)
age_columns

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
696,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [11]:
age_columns['check'] = age_columns.sum(axis = 1)

In [12]:
age_columns

,27,28,29,30,31,32,33,34,36,37,...,40,41,43,46,47,48,49,50,58,check
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
696,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
age_columns['check'].sum(axis = 0)

np.int64(700)

In [14]:
age_columns['check'].unique()

array([1])

In [16]:
age_columns = age_columns.drop(['check'], axis=1)

In [18]:
df = df.drop(['Age'],axis = 1)

In [22]:
df = pd.concat([df,age_columns], axis = 1)

In [23]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58], dtype=object)

In [24]:
columns_reordered = ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58, 'Absenteeism Time in Hours']

In [25]:
df = df[columns_reordered]

In [26]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,...,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,...,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,2

### Create a checkpoint

In [27]:
df_reason_mod = df.copy()

In [28]:
df_reason_mod.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,...,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,...,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,2